<div class="d-flex justify-content-center align-items-center">
    <div class="p-2">
        <h1 class="display-6 text-center">{{ path.capitalize() }}</h1>
    </div>
    <div class="p-2">
        <button type="button" class="btn btn-secondary" id="new-content" onclick="new_content()" data-headers="{{headers}}" data-bs-toggle="modal" data-bs-target="#editModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
            </svg>
        </button>
    </div>
  </div>
{% if path.capitalize() == 'Users' %}
    <div class="input-group flex-nowrap w-25">
        <span class="input-group-text" id="addon-wrapping">Filter</span>
        <input id="filterUser" type="text" class="form-control" placeholder="Username" onkeyup="filter()" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
{% endif %}
<table id="allTables" class="table">
    <thead class="table-dark">
        {% if headers %}
            <tr>
                {% for header in headers %}
                    <td>{{ header }}</td>
                {% endfor %}
                <td>Edit</td>
            </tr>
            </thead>
            <tbody>
            {% for row in table_data %}
            <tr id="row{{row.id}}">
                {% for header in headers %}
                    <td data-header="{{header.lower()}}">{{ row[header.lower()] }}</td>
                {% endfor %}
                <td>
                    <button id="{{row.id}}" type="button" class="btn btn-secondary" onclick="modal(this.id)" data-bs-toggle="modal" data-bs-target="#editModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
                        </svg>
                    </button>
                    <button id="{{row.id}}" type="button" class="btn btn-secondary" onclick="modal(this.id, true)" data-bs-toggle="modal" data-bs-target="#editModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"></path>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"></path>
                        </svg>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <tr>
            <th>No Data in {{ path }}</th>
        </tr>
        <tbody>
            <tr>
                <th>Please check Database</th>
            </tr>
        </tbody>
    {% endif %}
  </table>