<!DOCTYPE html>
<html>

<head>
    <title>801Labs deploy VM test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/js/backend.js"></script>

    <style type="text/css" media="screen">

        table{
        border-collapse:collapse;
        border:1px solid #000;
        }
        
        table td{
        border:1px solid #000;
        }
        table th{
        border:1px solid #000;
        }

        button {
            margin-right: 10px;
        }
        </style>
</head>

<body>
    <h1>801Labs deploy VM test</h1>
    <hr>
    <div style="text-align: center;">
        <div style="width: 50%; float: left;">
            <label for="templates">Choose a template:</label>
            <select name="templates" id="templatesDDL">
                <option value="NULL">Please Select a template to clone</option>
            </select>
            <button id="cloneTemplate">Clone</button>
            <br />
            <label for="multiClone">Make multiple copies:</label>
            <input type="checkbox" name="multiClone" id="multiClone" />
            <label for="numClones">Number:</label>
            <input type="number" name="numClones" id="numClones" min="1" max="30">
            <br />
            <span id="ddlWarning" style="color: red;"></span>
            
        </div>
        <div style="width: 50%; float: right;">
            <p id="output"></p>
        </div>
    </div>
    <br>
    <br>
    <div id="vmListDiv" style="width: 80vw; margin-left: 10vw;">
        <h3>Current VMs:</h3>
        <button id="updateVmList">Update</button><button id="delAll">Delete All</button>
        <br style="margin-bottom: 10px"/>
        <table style="width: 100%; text-align: center;" >
            <tbody id="vmTable">
                <tr>
                    <th style="width: 10%;">ID</th>
                    <th style="width: 20%;">Name</th>
                    <th style="width: 10%;">Status</th>
                    <th style="width: 20%;">IP Address</th>
                    <th style="width: 10%;"></th>
                    <th style="width: 10%;"></th>
                    <th style="width: 10%;"></th>
                    <th style="width: 10%;"></th>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>