asn1crypto==0.24.0
backoff==2.2.1
bidict==0.22.1
certifi==2018.8.24
chardet==3.0.4
click==8.1.3
cryptography==2.6.1
entrypoints==0.3
Flask==2.2.5
flask-sqlalchemy==3.0.5
Flask-Cors==3.0.10
Flask-SocketIO==5.3.2
gunicorn==21.2.0
httplib2==0.11.3
idna==2.6
importlib-metadata==6.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
keyring==17.1.1
keyrings.alt==3.1.1
MarkupSafe==2.1.2
pip-chill==1.0.3
proxmoxer==2.0.1
PySimpleSOAP==1.16.2
python-debian==0.1.35
python-debianbts==2.8.2
python-engineio==4.3.4
python-socketio==5.7.2
pyxdg==0.25
ratelimit==2.2.1
requests==2.21.0
six==1.12.0
typing-extensions==4.5.0
urllib3==1.24.1
Werkzeug==2.2.3
zipp==3.14.0
